<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipe2u">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipe2U">
        <activity android:name=".recipe2UViewRecipe"></activity>
        <activity
            android:name=".recipe2UFilterRecipe"
            android:parentActivityName=".recipe2USearch2" />
        <activity
            android:name=".recipe2USearch2"
            android:label="Buscar Recetas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Recipe2U.NoActionBar" />
        <activity
            android:name=".recipe2UCreateIngredient"
            android:parentActivityName=".recipe2UCreateRecipe" />
        <activity
            android:name=".recipe2UCreateRecipe"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>